body {

}

#game-board {
  position: absolute;
  width: 900px;
  height: 400px;
  background: green;
  align: center;
}

.paddle {
  height: 50px;
  width: 20px;
  position: absolute;
  background-color: black;
}

#paddle-user {
  right: 0;
  top:190px;

}

#paddle-computer {
  left: 0;
  top: 190px;
}

#btn-start-game{
  background: blue;
  text-align: center;
  position: absolute;
  color: white;
  border-radius: 4px;
  width: 70px;
  height: 50px;
  right: 440px;
  top: 450px;
}

#net {
  height: 400px;
  width: 2px;
  position: absolute;
  right: 450px;
  background-color: white;
}

#ball {
  background: white;
  height: 15px;
  width: 15px;
  border-radius: 10px;
  position: absolute;
  right: 50%;
  top: 50%;
}

.score span {
}

.left {
}

.right {
}

button {
}

#winner {
}

#winner.hide {
}

@-webkit-keyframes slide {
    100% { top: 20px; }
}

@keyframes slide {
    100% { top: 20px; }
}
